{%- if product and product.available -%}
  {%- form 'product', product -%}
    <input
      aria-label="{{ 'common.variant_id' | t }}"
      name="id"
      value="{{ product.selected_or_first_available_variant.id }}"
      class="sr-only"
    >
    <input aria-label="{{ 'common.quantity' | t }}" name="quantity" value="{{ quantity | default: 1 }}" class="sr-only">
    <input
      name="selling_plan"
      value="{{ product.selected_or_first_available_selling_plan_allocation.selling_plan.id }}"
      class="sr-only"
      aria-label="{{ 'common.selling_plan' | t }}"
    >
    <button class="w-full border rounded-full text-center p-5">
      {{- 'action.add_to_cart' | t -}}
    </button>
  {%- endform -%}
{%- else -%}
  <span>{{- 'common.sold_out' | t -}}</span>
{%- endif -%}
