<div class="relative {{ class | default: '' }}" style="{{ style | default: '' }}">
  <a href="{{ product.url | within: collection }}" class="block relative [&:hover_.submit]:opacity-100">
    {%- if preload -%}
      <link rel="preload" as="image" href="{{ product.featured_image | image_url: width: 180 }}">
    {%- endif -%}
    <img
      sizes="
        (min-width: 1536px) 376px,
        (min-width: 1280px) 312px,
        (min-width: 1024px) 248px,
        (min-width: 768px) 33vw,
        (min-width: 640px) 50vw,
        100vw
      "
      srcset="{%- render 'responsive-image-srcset', image: product.featured_image, width: 676, desired_sizes: '180.0,248.0,312.0,376.0,676.0' -%}"
      src="{{ product.featured_image | image_url: width: 180 }}"
      alt="{{ product.featured_image.alt | escape }}"
      width="{{ product.featured_image.width }}"
      height="{{ product.featured_image.height }}"
      loading="{%- if preload -%}eager{%- else -%}lazy{%- endif -%}"
      class="w-full object-cover object-center"
    >

    {%- render 'brick-badge', product: product -%}

    <div class="hidden lg:block lg:absolute bottom-0 w-full opacity-0 transition-opacity submit focus-within:opacity-100">
      {%- render 'brick-product-submit', product: product -%}
      {% comment %} Use this options to show options, subscriptions, quantity {% endcomment %}
      {% comment %} {%- render 'brick-product-form-2', product: product -%} {% endcomment %}
    </div>
  </a>

  <div class="mt-4">
    {% if product.title %}
      <a href="{{ product.url | within: collection }}" class="text-lg font-bold">
        {{ product.title }}
      </a>
    {% endif %}

    {% if product.available %}
      <div>
        <span class="{% if product.compare_at_price %}text-price{% endif %}">
          {{ product.price | money }}
        </span>

        {% if product.compare_at_price %}
          <del class="ml-2">
            {{ product.compare_at_price | money }}
          </del>
        {% endif %}
      </div>
    {% else %}
      <div>
        {{ 'common.sold_out' | t }}
      </div>
    {% endif %}

    <div class="relative lg:hidden w-full transition-opacity">
      {%- render 'brick-product-submit', product: product -%}
      {% comment %} Use this options to show options, subscriptions, quantity {% endcomment %}
      {% comment %} {%- render 'brick-product-form-m2it', product: product -%} {% endcomment %}
    </div>
  </div>
</div>
