<form id="product-form" class="py-8" vue>
  <product-options
    v-slot="
      {
        variantHandler,
        findVariantsByOptions,
        options,
        selectedVariant,
        isActiveOption,
        isVisibleOption
      }
    "
    :product-data="
      {%
        render 'helper-product-config'
        prod: product
      %}
    "
  >
    {%- for option in product.options_with_values -%}
      {% liquid
        assign optionIndex = forloop.index0
        assign filter_option = 'filter_option_' | append: forloop.index
        assign filter_meta_field = product.metafields.pdp[filter_option]
      %}
      <fieldset class="product-options mb-20" id="product-option-{{ option.id }}">
        <legend>{{ option.name }}</legend>
        <ul>
          {%- for value in option.values -%}
            {% liquid
              assign name = option.name | append: '-' | append: value | handle
            %}
            <li
              :class="
                {
                  'hidden': !isVisibleOption({
                    type: '{{ option.name | downcase }}',
                    value: '{{ value | escape }}',
                    position: {{ option.position }}
                  })
                }
              "
            >
              <label
                for="{{ name | handle }}"
                @click.prevent="
                  findVariantsByOptions({
                    type: '{{ option.name | handle }}',
                    value: '{{ value }}',
                    position: {{ option.position }}
                  })
                "
                :class="
                  {
                    'is-active': isActiveOption({
                      type: '{{ option.name | handle }}',
                      value: '{{ value }}',
                      position: {{ option.position }}
                    }),
                  }
                "
              >
                <input
                  {% comment %} class="sr-only" {% endcomment %}
                  type="radio"
                  id="{{ name | handle }}"
                  name="{{ option.name | downcase }}"
                  title="Select {{ value }} for {{ option.name }}"
                  :checked="
                    isActiveOption({
                      type: '{{ option.name | handle }}',
                      value: '{{ value }}',
                      position: {{ option.position }}
                    })
                  "
                >

                <span>{{ value }}</span>
              </label>
            </li>
          {%- endfor -%}
        </ul>
      </fieldset>
      <hr>
    {%- endfor -%}
    <hr>
  </product-options>

  <fieldset id="quantity-select">
    <legend>Quantity</legend>
    <div class="flex justify-between py-10">
      <product-quantity
        v-slot="
          {
            quantity,
            increaseQuantity,
            decreaseQuantity,
          }
        "
      >
        <button
          aria-label="Increase Quantity by 1"
          id="increase-quantity"
          @click.prevent="increaseQuantity(1)"
        >
          +
        </button>

        <label for="quantity-value">
          <input id="quantity-value" type="text" :value="quantity" class="text-center">
        </label>

        <button
          aria-label="Decrease Quantity by 1"
          id="decrease-quantity"
          @click.prevent="decreaseQuantity(1)"
        >
          -
        </button>
      </product-quantity>
    </div>
  </fieldset>

  <add-to-cart
    v-slot="
      {
        loading,
        disabled,
        addToCart
      }
    "
  >
    <button
      type="submit"
      @click.prevent="addToCart"
      :disabled="disabled"
      :class="
        {
          'opacity-50': disabled
        }
      "
    >
      <span v-if="loading">Loading</span>
      <span v-else>Add To Cart</span>
    </button>
  </add-to-cart>
</form>
