<div class="border-t border-gray pt-12 pb-24">
  <div class="container grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 gap-x-4 gap-y-8">
    <div>
      <div class="text-lg font-bold mb-3">
        {{ 'footer.menu' | t }}
      </div>

      {% for link in linklists.footer.links %}
        <div class="space-y-1">
          <div>
            <a
              href="{{ link.url }}"
              class="text-black hover:text-[#333] transition duration-150"
            >
              {{ link.title }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

    {%- if settings.instagram_url != blank
      or settings.twitter_url != blank
      or settings.facebook_url != blank
      or settings.youtube_url != blank
      or settings.tiktok_url != blank
    -%}
      <div>
        <div class="text-lg font-bold mb-3">
          {{ 'footer.social' | t }}
        </div>

        {%- render 'layout-social' -%}
      </div>
    {%- endif -%}

    {% assign enabled_locales = shop.enabled_locales | size %}
    {% assign enabled_currencies = shop.enabled_currencies | size %}

    {% if enabled_locales > 1 or enabled_currencies > 1 %}
      <div>
        <div class="text-lg font-bold mb-3">
          {{ 'footer.settings' | t }}
        </div>

        <div class="flex space-x-2">
          {% if enabled_locales > 1 %}
            {% render 'layout-select-locale' %}
          {% endif %}

          {% if enabled_currencies > 1 %}
            {% render 'layout-select-currency' %}
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% if shop.enabled_payment_types != blank %}
      <div class="col-span-2">
        <div class="text-lg font-bold mb-3">
          {{ 'footer.payment_methods' | t }}
        </div>

        <div class="flex flex-wrap space-x-2">
          {% for type in shop.enabled_payment_types %}
            {{ type | payment_type_svg_tag: class: 'w-12 h-auto mb-2' }}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

<div class="border-t border-gray py-20">
  <div class="container text-sm text-black font-medium text-center">
    &copy; {{ 'now' | date: '%Y' }}
    {{ shop.name }}
  </div>

  {% if settings.klaviyo_id != blank %}
    <div vue>
      <Newsletter
        v-slot="{ email, submit, loading, message, success }"
        list-id="{{ settings.klaviyo_id }}"
      >
        <form class="flex pb-2 border-b border-sunset border border-black " @submit.prevent="submit">
          <label class="block" for="email">
            <span class="sr-only">Email</span>
            <input type="email" id="email" name="email" v-model="email" required>
          </label>

          <button type="submit">Submit</button>
          <div v-text="message"></div>
        </form>
      </Newsletter>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "class": "shopify-section-vue",
  "tag": "footer",
  "settings": []
}
{% endschema %}
