{% comment %}
  **!important - If this section includes a vue component, ensure that the `vue-component` class included in the "class" property in the schema.
{% endcomment %}
\{{ '{{ kebabCase name }}.css' | asset_url | stylesheet_tag }}
<div>
  Section {{ kebabCase name }}
</div>

{% schema %}
{
  "name": "{{ titleCase name }}",
  "class": "page-section section-{{ kebabCase name }}",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "{{ titleCase name }}"
    }
  ]
}
{% endschema %}